@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

$primary-font: "Space Mono", monospace;
$secondary-font: "Inconsolata", monospace;
$background-btn: #333333;
$color-text: #4f4f4f;
